section.news
    h2 Новости и обзоры
    .news-blok
        .news-block__data 17.05.2019
        .news-block__text Сказочные крылатые лошадки с розовыми гривами и волшебным мерцающим рóгом ...
    .news-blok
        .news-block__data 17.05.2019
        .news-block__text Почувствуйте его лёгкий укол: сегодня кактус празднует возвращение — он чрезвычайно популярен
    .news-block-2
        .news-img
            img(src="static/images/news1.jpg", alt="")
        .news-block-2-dop    
            .news-block-2__text Почувствуйте его лёгкий укол: сегодня кактус празднует возвращение — он чрезвычайно популярен
            .news-block__data 17.05.2019
    .news-block-2
        .news-img
            img(src="static/images/news2.jpg", alt="")
        .news-block-2-dop     
            .news-block-2__text Почувствуйте его лёгкий укол: сегодня кактус празднует возвращение — он чрезвычайно популярен
            .news-block__data 17.05.2019