mixin tovar-kanc(imgx)
	.tovar-kanc
		.img
			img(src= "static/images/"+imgx )
		.kanc-articul 102566893
		.kanc-text
			|	Бумага офисная А4, класс "C", SVETOCOPY, 80 г/м2, 500 л., International Pape...
		.pack-kanc
			.pack-kanc__text Уп. шт.
			ul.pack-kanc__ul
				li 12
				li.active 144
				li 1728
		.dany-kanc
			.dany-kanc__kol 
				span 12356 шт
			.dany-kanc__cena 235.25 руб
		.vubor_kanc
			.vubor_kanc__qest
				.pl-mn
					.minus
						i -
					input(type="text" value="1") 
					.plus
						i +
			a.btn-addcart
				span В КОРЗИНУ