.why-we
    h2 Почему мы?
    .why-we-5items
        .why-we-item
            img(src="static/images/why-we1.png")
            p Широкий выбор способов оплаты
        .why-we-item
            img(src="static/images/why-we2.png")
            p Широкий выбор способов оплаты
        .why-we-item
            img(src="static/images/why-we3.png")
            p Широкий выбор способов оплаты
        .why-we-item
            img(src="static/images/why-we4.png")
            p Широкий выбор способов оплаты
        .why-we-item
            img(src="static/images/why-we5.png")
            p Широкий выбор способов оплаты
.container
    .row
        .col-lg-8
            h3 Вектор - бесконечность сервиса
            p Наша компания является официальным представителем следующих торговых марок: канцтоваров и товаров для офиса Brauberg; надежных калькуляторов Staff; товаров для учебы и творчества Пифагор; бизнес аксессуаров и деловых подарков Galant; мебели для офиса Brabix; бытовой техники Sonnen; хозяйственных товаров Лайма и оригинальной посуды Waltz.
            p Комфортную покупку. Вам не нужно тратить время на дорогу и поиски товара. Мы предоставляем Вам возможность совершать покупки в любое удобное для Вас время: в рабочие часы или после работы, в будни и выходные дни.
            p Качественное обслуживание клиента — это основа нашей деятельности. Ваши заказы оперативно доставляются. Вы получаете грамотные консультации по выбору и подбору наиболее подходящих товаров, а также при необходимости помощь в их установке и сборке.
        .col-lg-4
            h3 Мы специализируемся на следующих товарных категориях:
            ul.spec-tk
                each val, index in ['товары для офиса, канцелярские товары', 'бумага и бумажная продукция', 'офисная и бытовая техника', 'компьютерная техника', 'электроника и аксессуары', 'товары для школы', 'корпусная и металлическая мебель для офиса', 'хозтовары и упаковочные материалы']
                    li=val