extends template/main
block variables
    - var title = 'Главная страница'
block content
    include ./modules/menu-vector
    include ./modules/tovar-kanc
    include ./modules/catalog/catalog-mix
    +menu-vector('do768')
    .container
        .row
            .col-lg-3.col-md-3.col-sm-4
                +menu-vector('ot768')
                include ./modules/filter/filter
            .col-lg-9.col-md-9.col-sm-8
                section.catalog
                    +breadcrumb('Главная', "Вторая", "Третья")
                .tovar
                    .tovar-img
                        img(src="static/images/tov5.jpg", alt="")
                    .tovar-prop
                        .tovar-prop-top
                        .tovar-prop-line
                        +tovar-prop-foot('Штрихкод','4680211096090')
                        +tovar-prop-foot('Вид товара', 'альбом для рисования')
                        +tovar-prop-foot('Формат', 'A4')
                        +tovar-prop-foot('Размер', '205*285 мм')
                        +tovar-prop-foot('Количество листов', '40')
                        +tovar-prop-foot('Тип скрепления','скрепка')
                    a(href="").tovar-prop__a Показать все
                    .tovar-tab
                        ul.nav.nav-tabs1
                            li.nav-item
                                a.nav-link.active(data-toggle='tab', href='#home') Home
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#menu1') Menu 1
                            li.nav-item
                                a.nav-link(data-toggle='tab', href='#menu2') Menu 2
                        .tab-content
                            #home.tab-pane.active.container
                                .tab-text
                                    |Альбом для рисования формата А4, на скобе. Обложка изготовлена из импортного мелованного 
                                    |картона. На обороте обложки напечатаны картинки для раскрашивания. 
                                    |Внутренний блок из 40 листов офсетной бумаги плотностью 100 г/кв.м, соответствует
                                    | Техническому регламенту «О безопасности продукции, предназначенной для детей и
                                    | подростков». Подходит для рисования различными типами красок, фломастерами, цветными и
                                    | чернографитными карандашами, гелевыми ручками. Без возрастных ограничений.
                            #menu1.tab-pane.container
                                .tab-text
                                    |Альбом для рисования формата А4, на скобе. Обложка изготовлена из импортного мелованного 
                                    |картона. На обороте обложки напечатаны картинки для раскрашивания. 
                                    |Внутренний блок из 40 листов офсетной бумаги плотностью 100 г/кв.м, соответствует
                                    | Техническому регламенту «О безопасности продукции, предназначенной для детей и
                                    | подростков». Подходит для рисования различными типами красок, фломастерами, цветными и
                                    | чернографитными карандашами, гелевыми ручками. Без возрастных ограничений.
                            #menu2.tab-pane.container
                                .tab-text  
                                    |Альбом для рисования формата А4, на скобе. Обложка изготовлена из импортного мелованного 
                                    |картона. На обороте обложки напечатаны картинки для раскрашивания. 
                                    |Внутренний блок из 40 листов офсетной бумаги плотностью 100 г/кв.м, соответствует
                                    | Техническому регламенту «О безопасности продукции, предназначенной для детей и
                                    | подростков». Подходит для рисования различными типами красок, фломастерами, цветными и
                                    | чернографитными карандашами, гелевыми ручками. Без возрастных ограничений.      
                a(href="").btn-ncat Назад в категорию
                .karous
                    .news-carousel
                        h2 Новинки
                        .owl-carousel.owl-tovar-1
                            +tovar-kanc('tov1.jpg')
                            +tovar-kanc('tov2.jpg')
                            +tovar-kanc('tov3.jpg')
                            +tovar-kanc('tov4.jpg')
                            +tovar-kanc('tov2.jpg')    


   


