.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    top: -30px;
    right: 30px;
    color:$color-red;
   
}
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    top: -30px;
    right: 0px;
    color:$color-red;
    
}